%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%flex-raw {
  display: flex;
  justify-content: center;
}
%card {
  width: 260px;
  margin: 0 auto;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #9a9dac;
}

.statistics {
  @extend %card;
}
.title {
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}
.stat-list {
  @extend %flex-raw;
  list-style: none;
  width: 100%;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  & .item {
    @extend %flex-column;
    color: white;
    font-weight: 400;
    padding: 8px 0;
  }
}
.percentage {
  font-size: 18px;
}
